<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.ClassesMapper">
  <resultMap id="BaseResultMap" type="com.qf.bean.Classes">
    <id column="classid" jdbcType="INTEGER" property="classid" />
    <result column="classnum" jdbcType="VARCHAR" property="classnum" />
    <result column="deptid" jdbcType="INTEGER" property="deptid" />
    <result column="majorid" jdbcType="INTEGER" property="majorid" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
    <result column="classbegin" jdbcType="DATE" property="classbegin" />
    <result column="classend" jdbcType="DATE" property="classend" />
    <result column="classcontent" jdbcType="VARCHAR" property="classcontent" />
    <result column="classqq" jdbcType="VARCHAR" property="classqq" />
    <result column="tagline" jdbcType="VARCHAR" property="tagline" />
    <result column="classteacher" jdbcType="VARCHAR" property="classteacher" />
    <result column="peoplecount" jdbcType="INTEGER" property="peoplecount" />
    <result column="classstate" jdbcType="VARCHAR" property="classstate" />
    <result column="auditcount" jdbcType="INTEGER" property="auditcount" />
    <result column="auditid" jdbcType="INTEGER" property="auditid" />
    <association property="department" javaType="com.qf.bean.Department">
      <id column="departid" jdbcType="INTEGER" property="departid" />
      <result column="departname" jdbcType="VARCHAR" property="departname" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    classid, classnum, deptid, majorid, classname, classbegin, classend, classcontent, 
    classqq, tagline, classteacher, peoplecount, classstate, auditcount, auditid
  </sql>
  <select id="findteacher" resultType="string">
    select user_name from user_tb where user_id in (select userid from user_class_major where majorid=#{mid} )
  </select>

  <select id="findclassbyid" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from classes where majorid=#{majorid}
  </select>

  <select id="findall" resultMap="BaseResultMap">
    select * from classes c,department d where c.deptid=d.departid
  <if test="cname!=null and cname!=''">
    and classname like '%${cname}%'
  </if>
    <if test="classnum!=null and classnum!=''">
      and classnum like '%${classnum}%'
    </if>
    <if test="classsate!=null and classsate!=''">
      and c.classstate=#{classsate}
    </if>
    <if test="auditid!=-1">
      and c.auditid=#{auditid}
    </if>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from classes
    where classid = #{classid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from classes
    where classid = #{classid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.bean.Classes">
    insert into classes (classid, classnum, deptid, 
      majorid, classname, classbegin, 
      classend, classcontent, classqq, 
      tagline, classteacher, peoplecount, 
      classstate, auditcount, auditid
      )
    values (#{classid,jdbcType=INTEGER}, #{classnum,jdbcType=VARCHAR}, #{deptid,jdbcType=INTEGER}, 
      #{majorid,jdbcType=INTEGER}, #{classname,jdbcType=VARCHAR}, #{classbegin,jdbcType=DATE}, 
      #{classend,jdbcType=DATE}, #{classcontent,jdbcType=VARCHAR}, #{classqq,jdbcType=VARCHAR}, 
      #{tagline,jdbcType=VARCHAR}, #{classteacher,jdbcType=VARCHAR}, #{peoplecount,jdbcType=INTEGER}, 
      #{classstate,jdbcType=VARCHAR}, #{auditcount,jdbcType=INTEGER}, #{auditid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.bean.Classes">
    insert into classes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classid != null">
        classid,
      </if>
      <if test="classnum != null">
        classnum,
      </if>
      <if test="deptid != null">
        deptid,
      </if>
      <if test="majorid != null">
        majorid,
      </if>
      <if test="classname != null">
        classname,
      </if>
      <if test="classbegin != null">
        classbegin,
      </if>
      <if test="classend != null">
        classend,
      </if>
      <if test="classcontent != null">
        classcontent,
      </if>
      <if test="classqq != null">
        classqq,
      </if>
      <if test="tagline != null">
        tagline,
      </if>
      <if test="classteacher != null">
        classteacher,
      </if>
      <if test="peoplecount != null">
        peoplecount,
      </if>
      <if test="classstate != null">
        classstate,
      </if>
      <if test="auditcount != null">
        auditcount,
      </if>
      <if test="auditid != null">
        auditid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classid != null">
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="classnum != null">
        #{classnum,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null">
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="majorid != null">
        #{majorid,jdbcType=INTEGER},
      </if>
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="classbegin != null">
        #{classbegin,jdbcType=DATE},
      </if>
      <if test="classend != null">
        #{classend,jdbcType=DATE},
      </if>
      <if test="classcontent != null">
        #{classcontent,jdbcType=VARCHAR},
      </if>
      <if test="classqq != null">
        #{classqq,jdbcType=VARCHAR},
      </if>
      <if test="tagline != null">
        #{tagline,jdbcType=VARCHAR},
      </if>
      <if test="classteacher != null">
        #{classteacher,jdbcType=VARCHAR},
      </if>
      <if test="peoplecount != null">
        #{peoplecount,jdbcType=INTEGER},
      </if>
      <if test="classstate != null">
        #{classstate,jdbcType=VARCHAR},
      </if>
      <if test="auditcount != null">
        #{auditcount,jdbcType=INTEGER},
      </if>
      <if test="auditid != null">
        #{auditid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.bean.Classes">
    update classes
    <set>
      <if test="classnum != null">
        classnum = #{classnum,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null">
        deptid = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="majorid != null">
        majorid = #{majorid,jdbcType=INTEGER},
      </if>
      <if test="classname != null">
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="classbegin != null">
        classbegin = #{classbegin,jdbcType=DATE},
      </if>
      <if test="classend != null">
        classend = #{classend,jdbcType=DATE},
      </if>
      <if test="classcontent != null">
        classcontent = #{classcontent,jdbcType=VARCHAR},
      </if>
      <if test="classqq != null">
        classqq = #{classqq,jdbcType=VARCHAR},
      </if>
      <if test="tagline != null">
        tagline = #{tagline,jdbcType=VARCHAR},
      </if>
      <if test="classteacher != null">
        classteacher = #{classteacher,jdbcType=VARCHAR},
      </if>
      <if test="peoplecount != null">
        peoplecount = #{peoplecount,jdbcType=INTEGER},
      </if>
      <if test="classstate != null">
        classstate = #{classstate,jdbcType=VARCHAR},
      </if>
      <if test="auditcount != null">
        auditcount = #{auditcount,jdbcType=INTEGER},
      </if>
      <if test="auditid != null">
        auditid = #{auditid,jdbcType=INTEGER},
      </if>
    </set>
    where classid = #{classid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.bean.Classes">
    update classes
    set classnum = #{classnum,jdbcType=VARCHAR},
      deptid = #{deptid,jdbcType=INTEGER},
      majorid = #{majorid,jdbcType=INTEGER},
      classname = #{classname,jdbcType=VARCHAR},
      classbegin = #{classbegin,jdbcType=DATE},
      classend = #{classend,jdbcType=DATE},
      classcontent = #{classcontent,jdbcType=VARCHAR},
      classqq = #{classqq,jdbcType=VARCHAR},
      tagline = #{tagline,jdbcType=VARCHAR},
      classteacher = #{classteacher,jdbcType=VARCHAR},
      peoplecount = #{peoplecount,jdbcType=INTEGER},
      classstate = #{classstate,jdbcType=VARCHAR},
      auditcount = #{auditcount,jdbcType=INTEGER},
      auditid = #{auditid,jdbcType=INTEGER}
    where classid = #{classid,jdbcType=INTEGER}
  </update>

</mapper>